.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
  background-color: #86acba63 ;
}

.modal-content-update {
  width: 70% !important;
}

.modal-box {
  background: #86acba;
  padding: 3%;
  border-radius: 10px;
  width: 20%;
  height: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: #ffffff;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form-editar {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1rem;
  color: white;
}

.form-editar input {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.editar-acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-confirm {
  background-color: #4caf50;
  color: white;
  padding: 1rem 1rem;
  margin-bottom: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.btn-cancel {
  background-color: #f43636;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
